<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feng.dao.PlanMapper" >
  <resultMap id="BaseResultMap" type="com.feng.entity.Plan" >
    <constructor >
      <idArg column="plan_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="festival_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="picture_url" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    plan_id, festival_id, name, description, picture_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_plan
    where plan_id = #{planId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from t_plan
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_plan
    where plan_id = #{planId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.feng.entity.Plan" >
    insert into t_plan (plan_id, festival_id, name, 
      description, picture_url)
    values (#{planId,jdbcType=BIGINT}, #{festivalId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{pictureUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.feng.entity.Plan" >
    insert into t_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planId != null" >
        plan_id,
      </if>
      <if test="festivalId != null" >
        festival_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="pictureUrl != null" >
        picture_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planId != null" >
        #{planId,jdbcType=BIGINT},
      </if>
      <if test="festivalId != null" >
        #{festivalId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null" >
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feng.entity.Plan" >
    update t_plan
    <set >
      <if test="festivalId != null" >
        festival_id = #{festivalId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null" >
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where plan_id = #{planId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feng.entity.Plan" >
    update t_plan
    set festival_id = #{festivalId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR}
    where plan_id = #{planId,jdbcType=BIGINT}
  </update>
</mapper>